In [12]:
import math
import numpy as np

import pandas as pd

def my_funct(a,b):
    return 2*(a-b)

def test_fun (a,b):
    if a>b:
        return a
    elif b>a:
        return b
    else:
        return
    

bb = test_fun(2,3)
bb

3

In [13]:
import numpy as np

import pandas as pd

x = pd.read_csv(r"H:\Uni\Coursera\BODSF\USA_Housing.csv")

x.head(11)

x.iloc[4:10]

x.loc[8,["Price"]]

x.iloc[0,0]

79545.45857431678

In [174]:


x = pd.read_csv(r"H:\Uni\Coursera\BODSF\USA_Housing.csv")

y = x["Avg. Area Income"]

z = x["Avg. Area House Age"]

sumcol =[]

for i in range(len(y)):
    sumcol.append(my_funct(y[i],z[i]))


x.insert(5, "Sum or Area Income and Area House Age", sumcol, True)

x.shape
x.loc[:10,:]

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Sum or Area Income and Area House Age,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,159079.551426,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,158485.279110,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,122562.402578,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,126676.103620,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,119954.313342,6.309435e+05,USNS Raymond\nFPO AE 09386
5,80175.754159,4.988408,6.104512,4.04,26748.428425,160341.531503,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
6,64698.463428,6.025336,8.147760,3.41,60828.249085,129384.876184,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ..."
7,78394.339278,6.989780,6.620478,2.42,36516.358972,156774.698996,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483"
8,59927.660813,5.362126,6.393121,2.30,29387.396003,119844.597376,7.988695e+05,USS Gilbert\nFPO AA 20957
9,81885.927184,4.423672,8.167688,6.10,40149.965749,163763.007025,1.545155e+06,Unit 9446 Box 0958\nDPO AE 97025
10,80527.472083,8.093513,5.042747,4.10,47224.359840,161038.757140,1.707046e+06,"6368 John Motorway Suite 700\nJanetbury, NM 26854"